body{
    display: flex;
    background-color: bisque;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(2, 200px) repeat(3, 200px);
    grid-column-gap: 8px;
    grid-row-gap: 27px;
    }

.rojo { 
    display: flex;
    grid-area: 1 / 1 / 2 / 2; 
    background-color: red;
}

.verde { 
    display: flex;
    grid-area: 1 / 2 / 2 / 3; 
    background-color: green;
}

.azul { 
    display: flex;
    grid-area: 1 / 3 / 2 / 4; 
    background-color: blue;
}
    
.rosa{ 
    display: flex;
    grid-area: 1 / 4 / 2 / 5; 
    background-color: pink;
}